body {
    margin:0;
    padding:0;
    background-color: white;
    overflow-x: hidden;
}

hr {
    color:#b3b2b2;
}

.bg-pink {
    background-color: #FF3EB5;
    color:white;
}

.logo h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.icons-options {
    cursor: pointer;
}

#search-bar {
    width:300px;
    padding:13px;
    border:1px solid gainsboro;
    border-radius:4px;
}

#search-button {
    padding:13px;
    width:100px;
    border:1px solid gainsboro;
    border-radius:4px;
}

.menu-libri li {
 cursor: pointer;
}

.menu-libri li:hover {
    text-decoration: underline;
}

.text-carousel {
    position:absolute;
    top:200px;
    left:130px;
    font-size:50px;
    color:white;
}

.carousel-control-prev {
    position:absolute;
    left:-70px;
}

.carousel-control-next {
    position:absolute;
    right:-70px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width:50px;
    height:50px;
}



.card {
    cursor: pointer;
    border:none;
}

.card-img-top {
    border-radius:10px;
    min-height: 330px;
    min-width:230px;
    height: auto;
}



.immagine {
    width:380px;
    height:520px;
    margin-top:20px;
    margin-bottom:100px;

}


.info {
    width:550px;
    margin-left:30px;
    height:500px;
    margin-top: 20px;
    padding:20px;
    margin-bottom:100px;
}

.spedizione {
    margin-top:20px;
    width:350px;
    height:500px;
    margin-bottom:100px;
 
}


.height-personalized {
    height:520px;
}

.carousel img {
    height:500px;
}

.p-carousel {
    width:400px;
    color:white;
    position:absolute;
    top:54%;
    left:9%;
    font-weight: 600;
    font-size:20px;
}


.cursor-pointer {
    cursor: pointer;
}


.my-font {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#FF3EB5;
    font-size:35px;

}


.list-divider {
    width:71%;
    margin-left:22px;
    background-color: #DCDCDC;
    height:5px;
    margin-bottom:30px;
}
    

input[type="checkbox"] {
    width:18px;
}



.invisible {
    height:0 !important;
    width:0 !important;
    display: none !important;
  }



    